p {
    margin: 0;
}

body {
    background-color: #333;
    color: #fff;
}

nav.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.startGame,
.shuffleCards,
.restartGame {
    padding: 1.2em;
    border: 1px solid #fff;
    border-radius: 1.2em;
}

.shuffleCards:hover,
.startGame:hover,
.restartGame:hover {
    background-color: #666;
}

.game {
    display: flex;
    justify-content: space-evenly;
}

button{
    padding: 20px;
    border-radius: 12px;
    background-color: #00000070;
    color: #fff;
    margin: 20px;
    border: 1px solid #fff;
}
.card {
    border: 1px solid #CCC;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    gap: 1em;
}

.card__attributes p {
    text-align: justify;
}

.card__attributes p:hover {
    background-color: #666;
    border-radius: 4px;
}

.card__image {
    border: 1px solid white;
    border-radius: 8px;
}

.card__attributes {
    display: flex;
    flex-direction: column;
    gap: .5em;
}


/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.player2-container .card:first-child,
.flip-2-ver-right-fwd {
    -webkit-animation: flip-2-ver-right-fwd 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-2-ver-right-fwd 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.player2-container {
    border-left: 1px solid white;
    padding-left: 5em;

}

.flip-vertical-right {
    -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-2-ver-right-fwd {
    0% {
        -webkit-transform: translateX(0) translateZ(0) rotateY(0);
        transform: translateX(0) translateZ(0) rotateY(0);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: translateX(100%) translateZ(160px) rotateY(-180deg);
        transform: translateX(100%) translateZ(160px) rotateY(-180deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
}

@keyframes flip-2-ver-right-fwd {
    0% {
        -webkit-transform: translateX(0) translateZ(0) rotateY(0);
        transform: translateX(0) translateZ(0) rotateY(0);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: translateX(100%) translateZ(160px) rotateY(-180deg);
        transform: translateX(100%) translateZ(160px) rotateY(-180deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-29 12:38:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}